@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Funnel+Display:wght@300..800&family=Offside&display=swap');
body {
    display: flex;
    place-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
    max-width: 100vw;
    font-family: Comfortaa;
    font-size: 12px;
    background: url(background.jpg);
}

.topsite {
    display: grid;
    grid-template-rows: 1fr auto;
    place-items: center;
    gap: 1em;
    padding: 25px 20px;
    border-radius: 12px;
    width: 90px;
    margin: 5px;
    transition-duration: 0.1s;
    backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.2);
    border: 1px solid rgba(17, 25, 40, 0.3);
}

.topsite:hover {
    backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.3);
}

a {
    text-decoration: none;
    color: palegreen;
    font-size: 16px;
    letter-spacing: 1.5px;
	  font-family: "Funnel Display", sans-serif;
	  font-weight: 500;
}

img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
	  text-decoration: overline 2px solid;
}

.greeting-container {
	position: absolute;
	top: 10px;
	left: 10px;
    backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.3);
border-radius: 10px;
padding: 10px;
}

.greeting {
  font-family: "Offside", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #fff;
  font-size: 4em;
  margin: 10px;
}
.time, .date {
	margin: 10px 15px;
	font-size: 2em;
  font-family: "Offside", serif;
  font-weight: 400;
	  color: #e0e0e0;
}